<!DOCTYPE html>
<html>

<head>
    {% load static %}
      <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Зона паркета</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
</head>

<body>
<div class="hero_area">
    {% include 'header.html' %}
</div>


<section class="about_section m-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-6 mx-auto">
        <div class="detail-box">
          <h2 style="margin-bottom: 4%">
            Наш профиль — паркетные работы в Москве
          </h2>
          <p class="text-justify">
            <b>Наша компания</b> существует на рынке уже свыше 20-ти лет. Мы осуществляем весь комплекс работ, связанных с деревянными полами, начиная от выбора исходных материалов и заканчивая уходом за полом. Мы можем предложить Вам укладку паркета из любого вида древесины и любого рисунка — от традиционной "ёлочки" до художественного. В сферу нашей деятельности входит укладка массивной, паркетной и инженерной доски, укладка ламинированного паркета (ламината), <strong>шлифовка и циклёвка пола без пыли</strong>, <strong>покрытие маслом, лаком и воском</strong>.
          </p>

          <p class="text-justify">
            Высокая квалификация наших сотрудников и длительное время на рынке — всё это позволяет нам предложить высокое качество исполнения работ. <b>Мы — одна из тех компаний,</b> которая соответствует самым жёстким требованиям. <strong>Паркетные работы в Москве</strong> выполняются аккуратно, с применением современного оборудования, оснащённого пылесборниками. Используемая нами химия — практически без запаха, от проверенных брендов, включая шведскую Bona — мирового лидера в паркетной индустрии. Наши мастера проходили стажировку на заводах Bona в Мальмё, и знают все тонкости работы с их составами.
          </p>

          <div class="d-flex justify-content-center mb-3">
            <div class="img-box text-center">
              <img src="{% static 'images/bona.jpg' %}" alt="">
            </div>
          </div>

          <p class="text-justify">
            Мы предлагаем <strong>укладку паркета под ключ</strong>, <strong>реставрацию старого паркета</strong>, <strong>устранение скрипа пола</strong>, <strong>укладку инженерной доски</strong>, и <strong>подготовку основания под паркет</strong>. В работе используем <strong>влагостойкую фанеру</strong>, проверенные клеи и лаки. Выполняем выезды по Москве, Московской области, а при необходимости — <b>в любой регион Российской Федерации</b>. Также легко осуществим укладку паркета по индивидуальному проекту!
          </p>

          <p class="text-justify">
            Специалисты нашей компании подробно проконсультируют вас относительно выбора древесины, помогут с подбором рисунка, а технолог на месте определит виды работ, количество материала и составит предварительную смету. Мы поможем вам с покупкой и подскажем, как сэкономить — в зависимости от объёма предложим <b>скидки в крупных паркетных фирмах</b>. Это касается паркета, массивной доски, лаков, клеёв и сопутствующих материалов.
          </p>

          <p class="text-justify">
            Мы знаем, как вернуть блеск и долговечность даже сильно изношенному покрытию. Наши <strong>опытные паркетчики</strong> — специалисты высочайшего класса. Мы работаем <strong>без пыли</strong>, аккуратно, быстро, качественно. <strong>Скрипит паркет? Звоните — решим!</strong>
          </p>

          <p class="text-justify">
            С ценами на предлагаемые работы Вы можете ознакомиться в разделе "Услуги и цены"
          </p>
          <p class="text-justify">
            Также можно расчитать готовый проект в разделе "Калькулятор"
          </p>
          <a href="/service">
            Услуги и цены
          </a>
            <br/>
            <a href="/calculator">
            Калькулятор
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}

{% include 'scripts.html' %}


</body>

</html>