<!-- footer section -->

<footer class="footer_section">
    <section class="info_section ">
        <div class="container">
            <h4>
                Зона паркета
            </h4>
        </div>
              <div class="social-box">
                <div class="box" >
                  <a href="https://wa.me/79037986385" >
                    <i class="fa fa-whatsapp" aria-hidden="true" style="color: #7C8262"></i>
                  </a>
                  <a href="https://t.me/Roman_10_n">
                    <i class="fa fa-telegram" aria-hidden="true" style="color: #7C8262"></i>
                  </a>
                  <a href="mailto:parket-33@yandex.ru">
                    <i class="fa fa-at" aria-hidden="true" style="color: #7C8262"></i>
                  </a>
                </div>
              </div>
    </section>
    <div class="container">
        <p>
            &copy; <span id="displayDateYear"></span>
            created by <a href="https://t.me/drag0nfather">Dragonfather</a>
        </p>
    </div>
</footer>
<!-- footer section -->